body {
  font-family: "Merriweather", serif;
  font-family: 'Inter', sans-serif;
}

.middle-title1 {
  color: #ffffff;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
}
.middle-title2 {
  color: #ffffff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
}
.background {
  background-image: linear-gradient(#070211, #07021100),
    url("Banner\ Image.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  margin: 50px 140px 120px;
  padding: 80px;
  background-position: center;
}
/* .fardin { */

.BLOG {
  color: #f00;
  text-align: center;
  font-family: "Inter", serif;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
}
.BLOG1 {
  color: #f00;
  text-align: center;
  font-family: "Inter", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.BLOG2 {
  color: #070211;
  text-align: center;
  font-family: "Inter", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
.BLOG3 {
  text-align: center;
}
.FARDIN1 {
  color: #fff;
  font-size: 64px;
  font-weight: 600;
  width: 642px;
}
.FARDIN2 {
  color: rgba(255, 255, 255, 0.8);
  width: 697px;
}
.BUTTON {
  background-color: transparent;
  border: 0;

  font-family: "Inter", serif;
  font-size: 20px;

  font-weight: 700;
  line-height: normal;
}
.image {
  box-shadow: none;
}

.MAIN1 {
  background-image: linear-gradient(#070211, #07021100), url("Vectorrr.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  margin: 50px 140px 120px;
  padding: 80px;
  background-position: center;
  display: flex;
  justify-content: center;
}

.primary-text {
  color: #f00;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.party-description {
  text-align: center;
  margin: 120px 140px;
  padding: 100px;
  padding-bottom: 210px;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  border-radius: 16px;
}
.join {
  border-radius: 8px;
  background: #f00;
  color: #fff;
  border: 0;
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 15px;
}
.offer{
  display: flex;
}
.best {
  color: #f00;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", serif;
}
.Awesome {
  color: #070211;
  font-size: 30px;
  font-weight: 900;
  text-transform: capitalize;
}
.paragraph {
  color: rgba(7, 2, 17, 0.6);
  font-family: "Inter", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 896px;
}
.gift {
  text-align: justify;
  margin: 140px;
}
.product{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  gap:24px;


  
}



.last {
  text-align: center;
  background-image: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  margin: 120px 140px;
  padding: 100px;
  padding-bottom: 210px;
  border-radius: 16px;
}
.sub {
  color: #070211;
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
}
.paragraph2 {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  padding: 30px 90px;
  font-weight: 100;
}
.email {
  border-radius: 50px 0px 0px 50px;
  border: 0;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  outline: none;
 
  
}
 .Subscribe {
  border-radius: 0px 50px 50px 0px;
  border: 0;
  background: #f00;
  box-shadow: none;
  color: #fff;
  text-align: center;
  font-family: "Inter", serif;
  font-size: 18px;
  font-weight: 600;
  padding: 18px 30px;
  outline: none;
  
} 

.contact input{
  display:flexbox;
  text-align: justify;
  padding: 18px 30px;
  gap:0px;
}
.section-title {
  color: #fff;
  width: 375px;
  font-family: "Inter", serif;
  padding-top: 150px;
  padding-left: -10px;

  font-size: 20px;
  font-style: normal;
}
.footer-column {
  display: flex;
  justify-content: space-around;
}
.line {
  list-style: none;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  padding-top: 150px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 166.667% */
}
.phone {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.phn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.web {
  display: flex;
  align-items: center;
  gap: 10px;
}
.last-part {
  background-color: #070211;
}
.social-link {
  text-align: center;
}
.final-part {
  display: flex;
  justify-content: space-between;
  padding: 50px 140px 140px 170px;
}
.fp {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
