body {
  font-family: "Merriweather", serif;
}

.middle-title1 {
  color: #ffffff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.middle-title2 {
  color: #ffffff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
}
.background {
  background-image: linear-gradient(#070211, #07021100),
    url("Banner\ Image.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  margin: 50px 140px 120px;
  padding: 80px;
  background-position: center;
}
/* .fardin { */

.BLOG {
  color: #f00;
  text-align: center;
  /* font-family: Inter; */
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
}
.BLOG1 {
  color: #f00;
  text-align: center;
  /* font-family: Inter; */
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.BLOG2 {
  color: #070211;
  text-align: center;
  /* font-family: Inter; */
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}
.BLOG3 {
  text-align: center;
}
.FARDIN1 {
  color: #FFFFFF;
  font-size: 64px;
  font-weight: 900;
   /* 137.5% */
  
}
.FARDIN2{
  color: rgba(255, 255, 255, 0.80);
}
.BUTTON{
  color:#FFFFFF;
}

.MAIN1{
  background-image: linear-gradient(#070211, #07021100),
  url("/images/Vectorrr.png");
  background-repeat: no-repeat;
  border-radius: 16px;
  margin: 50px 140px 120px;
  padding: 80px;
  background-position: center;
}
